body{
  body:#fff;
margin: 0 ;
text-align: center;
font-family: 'Merriweather', serif;


}
#grad {
  background-image: linear-gradient(to bottom right, red , blue);
}
.comment{
  background-color: #F5EEEE;
}
.box{
width: 100%;
align: 'center';
position: fixed;
}
.img1{
  height:70px;
  width:70px;
  border-radius: 100%;
}
.headi{
  height:30px;
  widht:30px
  position:absolute;
}
.headi{
  height:30px;
  widht:30px;
}
.headi1{
  height:15%;
  widht:15%;
  border-radius: 100%;
}
.medi{
  font-size: 30px;
}
.header{
font-family: 'Sacramento', cursive;
font-size: 10%;
text-align: 'center';
position: fixed;
background-color: #f3f3f3;
top: 0;

}
.bheader{
  font-family: 'Sacramento', cursive;
  font-size: 140%;
  text-align: 'center';
  position: fixed;
  top-margin: 90px;
  bottom-margin: 400px;

}
p{
  line-height: 2;
}
.r1
{
 border-radius: 100%;
 width:50%;
 height:50%;
}
.r2{
  border-radius: 100%;
  width:25%;
  float: left;
margin-right: 30px;
}
.r3{
  border-radius: 100%;
  width:25%;
  float: right;
margin-right: 30px;
}
.top
{


  margin: 10;
  padding: 10;
  margin-top: 80;
  margin-left: 0;
  margin-right: 0;
}
h1{
  width:10;
  margin-top: 20;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size:590%;
  color:  #000;
}
h2{
  padding: 20px;
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  color:  #000;
}
h3,h4{
  color:#000;
}
h5,h6{
  font-family: 'Sacramento', cursive;
  font-size:100%;
  color:  #000;
}
.middle{
  magin: 0;

}
.bottom{
  margin: 0;


}
.span{
  text-decoration: underline;
}
.top-cloud{
  position: relative;
  left: 40%;
}
.bottom-cloud{
  position: absolute;
  left: 19%;
}
a{
  color:  #333;
}
a:hover{
  color:#000;
}
.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;



}
p1{
  clear: left; /* i do not want this thing to work */
}
.middle-container{
  margin:100px 0 ;
}
.intro{
  width: 30%;
  margin: auto;
}
hr{
  border: dotted #000 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}
.hr1{


  width: 94%;
}
.contract-me{
  width: 40%;
  margin: 40px auto 60px auto;
}
.btn{
  background-color: #r43e3e;
  color: #3f3f3f;
}
.bottom-container{
  background-color: #fff;
 color:#fff;
 position: fixed;
 bottom: 0;
 width: 100%;
}
